.ui.table {
    margin: 0
}

#scripts-rows-tbody {
    padding: 0;
}

.ui.grid {
    margin: 0;
}

#scripts-rows-tbody .row {
    padding: 0;
}

#scripts-rows-tbody .row .column {
    border-left: 1px solid #ccc;
    padding: 10px;
}

#scripts-rows-tbody .row {
    border-top: 1px solid #ccc;
}

body {
    display: flex;
    flex-direction: column;
}

#illustrator-dir-not-found-message {
    margin: 0;
}

.column {
    overflow: hidden;
    word-break: break-all;
}

.dont-shrink {
    flex-shrink: 0;
} 

.dont-grow {
    flex-grow: 0;
}
